<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<form action="/search" method="GET">
		Car Name : <input type="text" name="carName" placeholder="Enter Car Name "/><br>
		Car Color :<select name="carColor">
						<option selected>Select Car Color</option>
						<option value="Red" >Red</option>
						<option value="Blue">Blue</option>
						<option value="Green">Green</option>
					</select><br>
		Car Number : <input type="number" name="carNumber" placeholder="Enter Car Number "/> <br>
		<input type="submit" value="submit">
	</form>
</body>
</html>